 body{
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    color: #e4e4e4;
    font-weight: 100;
    margin:0; 
   

 }
 img{
 	max-width: 100%;
 	display: block;
 } 

 .first{
    color: white;
 }

  
 .two{
          color: #565050;
    position: absolute;
    left: 50%;
    top: 26%;
    transform: translateY(250%);
        --moz--transform: translateY(250%);
            --webkit--transform: translateY(250%);
}

 #header-section
 {
    background-image: url(../images/image.jpg);
    max-width: 100%;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 100% 50%;
    background-attachment: fixed;
    height: 100vh;
    position: relative;
    padding-top: 10px;

 }

 .container{
 	    width: 1000px;
    margin: 0 auto;
    padding: 5px;
    overflow: hidden;
 
 }

 .content
 {
         width: 50%;
    float: left;
   
}

 .left-top{
 	    width: 50%;
    float: left;
    display: inline-block;
    position: absolute;
    top: 5%;
    right: 33%;
    transform: translateX(-8%);
    -moz-transform: translateX(-8%);
    -webkit-transform: translateX(-8%);
 }
 .left-bottom{
 	     width: 50%;
    float: left;
    display: inline-block;
    position: absolute;
    top: 34%;
    right: 33%;
    transform: translateX(-8%);
    -moz-transform: translateX(-8%);
    -webkit-transform: translateX(-8%);
 }
 .left-bottom h1{    
 	font-size: 3em;
    margin: 0;
        padding: 10px 0;
}
 .left-bottom p{
 	    font-size: 24px;
    max-width: 770px;
        padding: 10px 0;
}
.btn{

       text-transform: initial;
    color: #fff;
    text-decoration: none;
    background: #3189dc;
    padding: 10px 70px;
    border: 1px solid #fff;
    border-radius: 10px;
    position: absolute;
    top: 120%;
}
.right-top{
	float: right;
    position: absolute;
    top: 6%;
    right: 29%;
    transform: translateX(58%);
    -moz-transform: translateX(58%);
    transform: translateX(58%);
}
}
 nav{
   
 }
 nav ul{    margin: 0;
    padding: 0;
    text-align: right;
 	
 }
 nav ul li{
 	    list-style: none;
    display: inline-block;
 }
 nav ul li a{
 	text-transform: uppercase;
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 10px 15px;
        border-right: 1px solid #fff;
 }
 nav ul li a:hover{
 	color: #14446f; 
 }
nav ul li:last-child a {
  border-right: 0px solid #fff;
}



#mobile-section{
	padding: 50px 0 0 ;
}
 .top{
    float: left;
    position: absolute;
    top: 133%;
    right: 53%;
    transform: translateX(102%);
    -moz-transform: translateX(102%);
    -webkit-transform: translateX(102%);
 }
 .mobile-information{

 }
 .mobile-information span{    
 	    color: rgba(134, 125, 125, 0.74);
    text-transform: uppercase;
    font-weight: 800;
    font-size: 16px;
}
 .mobile-information h1{
          max-width: 504px;
    font-size: 1.5em;
    margin: 0;
    /* padding: 10px 0; */
    padding-top: 10px;
    color: black;
}

 .mobile-information h3{    
 	font-size: 1em;
    margin-bottom: 0;
}
 p{
 	      max-width: 530px;
    font-size: 1em;
    margin: 0;
    /* padding: 10px 0; */
    padding-top: 10px;
    color: black;
    display: block;
}

 

.bottom{   
        float: left;
    position: absolute;
    top: 161%;
    right: 53%;
    transform: translateX(102%);
    -moz-transform: translateX(102%);
    -webkit-transform: translateX(102%);

}
 .mobile-information-one{
 	      float: left;
    width: 50%;
    font-size:17Px;
color: black;
    max-width: 254px
 }
.mobile-information-two{   
    float: left;
    width: 50%;
    font-size: 17Px;
    color: black;
    max-width: 254px
}
.h3{
        max-width: 840px;
    font-size: 1em;
    margin: 0;
    color: black;
    display: block;
}

 #reading-section{    
    background: #262F36;
    
    height: 100vh;
    position: relative;

 }
 .reading{
       color: #fff;
    position: absolute;
   
    top: 50%;
    transform: translateY(-50%);
    max-width: 457px;
    font-size: 14px;
}
 .reading span{
    color: rgba(153, 153, 153, 0.62);
    text-transform: uppercase;
    font-weight: 800;
    font-size: 14px;
 }
 .reading h1{
     font-size: 2.2em;
    margin: 0;
        padding: 10px 0;
 }
 .reading p{
    max-width: 503px;
        padding: 10px 0;
 }
 .reading .btn{
        padding: 10px 0;
     text-transform: uppercase;
    color: #14446f;
    text-decoration: none;
    background: #ffffff;
    padding: 10px 20px;
    border: 1px solid #fff;
    border-radius: 5px;
    display: inline-block;
 }

 code{
position: absolute;
    right: 0;
    width: 40%;
    color: #fff;
    top: 50%;
    transform: translateY(-50%);
    padding: 30px;
    border:1px solid rgb(75, 86, 95);
    border-right: 0;
 }
 code ol {
    
 }
 code ol li{
    color: #888;
 }
 code ol li span{
    color: rgba(113, 140, 241, 0.68);;
 }


#company{
    background-image: url(../images/one.jpg);
    max-width: 100%;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 100% 50%;
    height: 100vh;
    position: relative;
  
}
.head{

}
.head h3{
        position: absolute;
    left: 50%;
    top: 37%;
    transform: translateY(50%);
      --moz--transform: translateY(50%);
        --webkit--transform: translateY(50%);
  
    color: #2b2a2a;

}

.head h4{
      position: absolute;
    left: 50%;
    top: 53%;
    transform: translateY(50%);
    --moz--transform: translateY(50%);
    --webkit--transform: translateY(50%);
    color: #2b2a2a;

}


 #company_logo{
    position: relative;
    background-image: url(../images/foter.jpg);
    max-width: 100%;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 100% 50%;
    height:150px
    

 }

 

#link{
    background-color: #fff;
    position: relative;

}
.link-contant{
    margin-top: 2em;
    

}
.row{
        width: 29%;
    float: left;
    box-sizing: border-box;
    margin: 1em;
    padding-bottom: 6em;
    position: relative;
}
.sign_caption p{
    text-align: center;
    padding: 10px 70px;
    color: #000;
}
.sign a img{
    margin: 0 auto;
}
.link_top{
    display: block;
}
.link_top span{
    text-transform: uppercase;
    color: #888;
    text-align: center;
    letter-spacing: 2px;
    display: block;
}

.link_top h1{ 
    color: #000;
    text-align: center;
    letter-spacing: 2px;
    margin: 22px 10em;
    font-size: 32px;

}
#busi_talk{
    background-color: #F4F5F7;
    padding-bottom: 3em;

}

.supp_top{
        text-align: center;
    color: black;
}
.plan_i{

}
.plan_i span{
    color: #777;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 2px;
    font-weight: bold;
    text-align: center;
    display: block;
}

.plan_i_a{
    font-size: 70px;
    color: #000;
    margin: 0px;
    text-align: center;
}
.plan_i_a sup{
    font-size: 16px;
}
.plan_i_a sub{
    font-size: 16px;
}
.plan_i_b{
    color: #777;
    text-align: center;
}
.plan_ii{
    border-bottom: 1px solid #777;
}
.plan_ii p{
    color: #777;
    text-align: center;
}
}
.row .plan_ii p span{
    color: black;
    font-weight: bolder;
    display: inline-block;

    
}
.plan_iii{
    margin-top: 20px;
    position: absolute;
    left: 45%;
    transform: translateX(-45%);

}
.plan_iii .btn{
    background: #00509A;
    text-transform: capitalize;
    text-decoration: none;
    padding: 9px 26px;
    border: 1px solid #fff;
    border-radius: 7px;
}

.busi_talk .container .supp-contant .row{
    padding: 20px 0;
}

#footer{
       background-color: #254054;
    padding: 30px;
}
.a{
    color: white;
}
.left-footer{
    width: 50%;
    float: left;
    padding-right: 100px;
    box-sizing: border-box;

}
.left-footer h3{
    text-transform: uppercase;
    color: white;
}
.left-footer p{
    text-align: justify;
    color: white;
}
.right-footer{
    width: 50%;
    float: left;
    padding-left: 0px


}
.big{
    width: 33.33%;
    color: white;
    float: left;
}
.big h3{
    text-transform: uppercase;
    text-align: left;
    padding-left: 36px;

}
.big ul{

}
.big ul li{
    list-style-type: none;
    text-align: left;
}
.big ul li a{
    color: white;
    text-decoration: none;
}